body{
    background: rgb(235,252,255);
background:fixed linear-gradient(-45deg, rgba(235,252,255,1) 0%, rgba(198,255,255,1) 100%);
}

input{
    border:none;
    outline: none;
}

.h-40{
    height: 40px;
}

.container{
    width: 600px;
}