@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        background: url('../assets/img/bg.jpg') top center / 100% 100% no-repeat fixed;
    }
    body:after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.5);
      }
}

@layer utilities{
    .input-box{
        @apply text-white outline-none border-4 border-white  bg-white bg-opacity-25 rounded-lg w-full h-12 text-3xl px-3 shadow-lg placeholder-gray-50 placeholder-opacity-50
    }

    .my-spiner::before{
            @apply animate-spin
    }
}